* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

.App{
  width: 350px;
  height: 600px;
  border:2px solid #212529;
  border-radius: 8px;
  padding: 20px;
}

.card-parent {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:15px;
}

.item-card {
  border: 2px solid #dadada;
  height:130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.item-card:nth-child(1) img {
  width: 65px;
  margin-top: -12px;
}

.item-card:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}